<!DOCTYPE html>
<html ng-app="liveWeatherApp">
    <head>
        <meta charset="utf-8">
        <title>Live Weather</title>
        <link rel="stylesheet" href='../node_modules/bootstrap/dist/css/bootstrap.min.css'>
        <link rel="stylesheet" href='app.css'>
        
    </head>
    <body>

        <h4>Wellcome to {{"Weather " + "by city"}}</h4>
        <div ng-controller="getWeatherCtrl as weather" class ="container-fluid">
            <div ng-repeat="city in weather.cities" class="row">
                <div ng-hide="city.hide">
                    <h2>{{city.cityName}}</h2>
                    <button ng-show="city.enabled">GetWeather</button>
                </div>  
                <section> <!--ng-init="tab = 1"-->
                    <ul class="nav nav-pills">
                        <li ng-class="{active:tab === 1}">
                            <a href ng-click="tab = 1">About {{}}</a>
                        </li>
                        <li ng-class="{active:tab === 2}">
                            <a href ng-click="tab = 2">Resturants in{{}}</a>
                        </li>
                        <li ng-class="{active:tab === 3}">
                            <a href ng-click="tab = 3">Reviews</a>
                        </li>
                    </ul>
                </section>
        
                <div class="panel" ng-show="tab === 1">
                    <h4>About{{city.cityName}}</h4>
                    <blockquote>Coming soon...</blockquote>
                </div>
                <div class="panel" ng-show="tab === 2">
                    <h4>Resturants in{{city.cityName}}</h4>
                    <blockquote>Coming soon...</blockquote>
                </div>
                <div class="panel" ng-show="tab === 3">
                    <h4>Reviews about{{city.cityName}}</h4>
                    <blockquote>Not yest...</blockquote>
                </div>  
            </div>
        </div>

        
        

        <script src="../node_modules/angular/angular.min.js"></script>
        <script src="../node_modules/angular-route/angular-route.min.js"></script>
        <script src="app.js"></script>
        <!-- <script src="getWeatherCtrl.js"></script>
        <script src="service.js"></script>
        <script src='filter.js'></script>
        <script src="config.js"></script> -->
    </body>
</html>